<h1>OMDB Movie Search</h1>
<form action="/search" method="get">
  <label for="q">Search Online Movie Database by Title</label>
  <input type="text" name="q" id="q">

  <input type="submit" value="Search">
</form>